@import './animation-keyframe.scss';

@font-face{
    font-family: 'Bold';
    src: url('../assets/fonts/NunitoSans-Bold.ttf');
}
@font-face{
    font-family: 'Regular';
    src: url('../assets/fonts/NunitoSans-Regular.ttf');
}
@font-face{
    font-family: 'SemiBold';
    src: url('../assets/fonts/NunitoSans-SemiBold.ttf');
}
@font-face{
    font-family: 'BoldItalic';
    src: url('../assets/fonts/NunitoSans-BoldItalic.ttf');
}

$font_Regular: 'Regular';
$font_Bold: 'Bold';
$font_SemiBold: 'SemiBold';
$font_BoldItalic: 'BoldItalic';

input:focus, 
select:focus, 
textarea:focus, 
button:focus {
	outline: none;
}
img {
	max-width: 100%;
}
.pad0{
    padding:0;
}
.no-pad-left{
    padding-left: 0;
}
.no-pad-right{
    padding-right: 0;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.break{
    display: block;
}
.mt-20{
    margin-top: 20px;
}

@mixin title($font-family,$text-transform,$font-size,$text-align,$color) {
    font-family: $font-family;
    text-transform: $text-transform;
    font-size: $font-size;
    text-align: $text-align;
    color: $color;
}

@mixin hr($size,$color,$width){
    border-top: $size solid $color;
    background-color: $color;
    width: $width;
}


.modal{
    z-index: 1050;
    .modal-dialog{
        max-width: 50%;
        .modal-content{
            border: none;
            .modal-header{
                padding: 0;
                border-bottom:none;
                .close{
                    position: absolute;
                    font-size: 2rem;
                    top: 5px;
                    right:5px;
                    z-index: 4;
                }
                .close_pop{
                    width: 100%;
                    margin-bottom: 0;
                    display: none;
                    img{
                        max-width: 15%;
                    }
                }
            }
            .modal-body{
                padding: 2rem;
                .gv_right_content{
                    .content{
                        padding-left: 20px;
                        border-left: 1px solid #dedede;
                        .title_name{
                            font-family: $font_Regular;
                            color: #3643d5;
                            font-size: 150%;
                            margin-bottom: 5px;
                            span{
                                font-family: $font_Bold;
                                text-transform: uppercase;
                                background: linear-gradient(to right, #3643d5 0%, #330867 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                        .hr_modal_gv{
                            background-image: linear-gradient(to right, #71b8f4, #330867);
                            margin-bottom: 5px;
                            width: 80%;
                            height: 2px;
                        }
                        .position{
                            font-family: $font_SemiBold;
                            margin-bottom: 0px;
                        }
                        .company{
                            font-family: $font_Regular;
                            margin-bottom: 20px;
                        }
                        .description_gv{
                            font-family: $font_Regular;
                            text-align: justify;
                            padding-right: 10px;
                        }
                    }
                } 
                .header_form{
                    margin-top: 3rem;
                    width: 100%;
                    p{
                        @include title($font_Bold, uppercase, 1.1rem, left, #2ac5b0);
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    &#call_confirmation{
        .modal-dialog{
            max-width: 35%;
            .modal-body{
                text-align: center;
            }
            .modal-footer{
                border: 0;
                text-align: center;
                justify-content: center;
            }
        }
        
    }
    &.fade{
        .modal-dialog{            
            -webkit-transform: translate(0,25%);
            transform: translate(0,25%);
        }
    }
    &.show{
        .modal-dialog{
            -webkit-transform: translate(0,0%);
            transform: translate(0,0%);
        }
    }
}

@media (min-width: 576px){
    #form_tuvan{
        .modal-dialog{
            max-width: 500px;
            .modal-content{
                .modal-body{
                    padding: 1rem;
                }
            } 
        }
    }
}

@media(max-width: 575.98px){
    .modal{
        .modal-dialog{
            max-width: 100%;
            .modal-content{
                .modal-header{
                    .close_pop{
                        display: block;
                    }
                }
                .modal-body{
                    .header_form{
                        margin-top: 0;
                    }
                }
            } 
        }
        &#call_confirmation{
            .modal-dialog{
                max-width: 100%;
                .modal-content{
                    .modal-body{
                        padding: 1.5rem 1rem;
                    }
                } 
            }
        }
    } 
    #form_tuvan{
        .modal-dialog{
            .modal-content{
                .modal-body{
                    padding: 1rem;
                }
            } 
        }
    }
}