@font-face{
    font-family: 'Bold';
    src: url('../../assets/fonts/NunitoSans-Bold.ttf');
}
@font-face{
    font-family: 'Regular';
    src: url('../../assets/fonts/NunitoSans-Regular.ttf');
}
@font-face{
    font-family: 'BoldItalic';
    src: url('../../assets/fonts/NunitoSans-BoldItalic.ttf');
}

@mixin transition($value){
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}
@mixin title($font-family,$text-transform,$font-size,$text-align,$color) {
    font-family: $font-family;
    text-transform: $text-transform;
    font-size: $font-size;
    text-align: $text-align;
    color: $color;
}
@mixin border-radius($deg){
    border-radius: $deg;
    -webkit-border-radius: $deg;
    -moz-border-radius: $deg;
    -ms-border-radius: $deg;
    -o-border-radius: $deg;
}

#document{
    padding: 9rem 0 3rem;
    p{
        font-family: 'Regular';
        text-align: center;
        &.title{
            @include title('Bold', initial, 1.5rem, center, #000000);
        }
    }
    .document{
        background-color: #fff;
        position: relative;
        margin: 1rem 0;
        -webkit-box-shadow: 0px 0px 110px -70px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 110px -70px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 110px -70px rgba(0,0,0,0.75);
        figure{
            margin-bottom: 0;
        }
        .document_text{
            padding: 1rem 1rem  0 0;
            p{
                text-align: left;
                font-family: 'Bold';
                margin-bottom: .5rem;
                & + p {
                    font-family: 'Regular';
                }
            }
            .btn_tuvan{
                font-family: 'Regular';
                font-size: 1rem;
                padding: 5px 30px;
            }
            .author{
                position: absolute;
                bottom: 5px;
                right: 30px;
            }
        }
    }
    .author{
        font-family: 'Regular';
        font-size: .8rem;
        span{
            font-family: 'BoldItalic';
        }
    }
    .news{
        background-color: #fff;
        margin: 1rem 0;
        padding: 1rem;
        -webkit-box-shadow: 0px 0px 110px -70px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 110px -70px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 110px -70px rgba(0,0,0,0.75);
        .title{
            font-family: 'Bold';
            width: fit-content;
            hr{
                border: 2px solid #27bfdb; 
                margin-top: 0rem;
            }
        }
        p{
            font-family: 'Bold';
            text-align: left;
        }
    }
    
    .form{
        background-color: transparent;
        position: fixed;
        bottom: calc(-345.19px + 59.19px);
        right: 0;
        width: 500px;
        z-index: 20;
        @include transition(.5s all ease);
        cursor: pointer;
        .form_title{
            background: linear-gradient(to right, #27bee0 0%, #2ac5b1 100%);
            padding: .6rem;
            text-align: center;
            text-transform: uppercase;
            width: 70%;
            border-top-left-radius: 100px;
            font-family: 'Bold';
            color: #fff;
            margin-left: auto;
            margin-right: 0;
            img{
                width: 40px;
                filter: invert(1);
            }
        }
        form{
            width: 100%;
            background-color: #fff;
            padding: 1rem 1rem 1rem 3rem;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            .select2-container{
                .select2-selection--single{
                    background-color: transparent !important;
                    border-bottom: 1px solid #2ac5b1 !important;
                    @include border-radius(0 !important);
                    padding: 5px 15px;
                    .select2-selection__rendered{
                        text-align: right;
                        padding-right: 0  !important;
                    }
                    .select2-selection__arrow{
                        display: none;
                    }
                }
            } 
            input{
                width: 100%;
                background-color: transparent;
                border-bottom: 1px solid #2ac5b1;
                border-top: none;
                border-left: none;
                border-right: none;
                margin-bottom: 1rem;
                padding: 5px 15px;
                text-align: right;
            }
        }
    }
}