@import '../../general_scss/general.scss';



#contact{
    padding: 9rem 0 3rem;
    .field_input{
        text-align: right;
    }
    .nav-tabs{
        border-bottom:0;
        .nav-item{
            margin-right: 20px;
        }
        .nav-link{
            font-family: $font_Bold;
            color: #2dc6b1;
            font-size: 1.1rem;
            border: 1px solid #2dc6b1;
            background-color: #fff;
            @include border-radius(50px);
            padding: 10px 25px;
            width: 150px;
            text-align: center;
            &.active{
                background-color: transparent;
                border:0;
                color: #fff;
                background: linear-gradient(to right, #2ac5b2 0%, #27bee0 100%);
                -webkit-box-shadow: 0px 10px 25px 0px rgba(0,218,182,0.5);
                -moz-box-shadow: 0px 10px 25px 0px rgba(0,218,182,0.5);
                box-shadow: 0px 10px 25px 0px rgba(0,218,182,0.5);
            }
        }
    }
    .tab-content{
        margin: 1rem 0;
        .tab-pane {
            iframe{
                width: 100%;
                height: 350px;
            }
        }
    }
}