@import '../../../general_scss/general.scss';


#course_detail{
    padding: 9rem 0 3rem;
    p{
        font-family: $font_Regular;
        text-align: left;
        &.level_title{
            color: #37c8b9;
            font-family: $font_Bold;
            font-size: 1.1rem;
            text-align: left;
            text-transform: uppercase;
        }
        .thoiluong{
            font-family: $font_Bold;
        }
        &.sub_title{
            font-family: $font_Bold;
            font-size: 1rem;
            margin-bottom: 0;
        }
    }
    .bd_right{
        border-right: 1px solid #c6c6c6;
    }
    fieldset{
        border:1px solid #ffcf80;
        width: 100%;
        @include border-radius(20px);
        legend{
            text-align: center;
            font-family: $font_Bold;
            font-size: 1rem;
            width: auto;
            padding: 0 10px;
        }
        .old_price{
            font-family: $font_Bold;
            text-align: center;
            color: #ff5050;
            text-decoration: line-through;
            font-size: 0.8rem;
            margin-bottom: 0;
        }
        
        .new_price{
            font-family: $font_Bold;
            text-align: center;
            font-size: 1.5rem;
            background: linear-gradient(to right,#ff9d01 0, #ff630f 100%);
            padding: 2px;
            @include border-radius(0px 0px 19px 19px);
            color: #fff;
            .vnd{
                color: #ff4c00;
                font-family: $font_Bold;
                font-size: 1.2rem;
            }
        }
    }
    .btn_tuvan{
        margin: 2rem auto 0 auto;
    }
    .block_content{
        margin-bottom: 2rem;
        ul{
            padding-left: 20px;
        }
        .uudai_hinh{
            height: 125px;
        }
        .uudai{
            text-align: center;
            .gach{
                text-decoration: line-through;
                color: #ff4d4d;
                font-family: $font_Regular;
            }
            .bold{
                font-family: $font_Bold;
            }
        }
        .gv{
            display: flex;
            justify-content: center;
        }
        .bg_gv{
            background: linear-gradient(to bottom right, #29c4ba 0%, #27bee1 100%);
            padding: 1rem .5rem;
            @include border-radius(30px);
            margin: 1rem 1.5rem;
            -webkit-box-shadow: 0px 0px 100px -41px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 100px -41px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 100px -41px rgba(0,0,0,0.75);
            text-align: center;
            .gv_name{
                font-family: $font_Bold;
                color: #fff;
                text-align: center;
            }
            .position{
                font-family: $font_Regular;
                color: #bfecf3;
                text-align: center;
            }
        }
    }
    .bd_detail{
        padding: 2rem ;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 110px -70px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 110px -70px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 110px -70px rgba(0,0,0,0.75);
        .swiper-container{
            margin-bottom: 1rem;
            
        } 
    }
}