@mixin transition($value){
    transition: $value;
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

.btn_up{
    position: fixed;
    bottom: -100px;
    right: 10px;
    z-index: 6;
    width: 90px;
    @include transition(all 1s ease-in-out);
    opacity: 0;
    &.show{
        opacity: 1;
        bottom: 50px;
    }
}